<header>
    <p class="chat__title">Chat</p>
</header>
<main>
    <section class="chat-messages">
        <h2 class="chat-message__title">Ask about this note</h2>
        <button class="chat-message__action">Action</button>
        <button class="chat-message__action">Action</button>
        <button class="chat-message__action">Action</button>
    </section>
    <footer class="chat-footer">
        <textarea type="text" name="chat input" id="chat input" placeholder="chat input"
            class="chat-footer__input"></textarea>
        <button class="chat-footer__action">Send</button>
    </footer>
</main>