<header>
    <p class="untitled-notes__title">Untitled notes</p>
</header>
<main>
    <p class="untitled-notes__text" *ngIf="note.id === 0">Add your notes</p>
    <section class="untitled-notes__notes" *ngIf="note.id !== 0">
        <!-- <button class="untitled-notes__button" (click)="closeNote()">Add note</button> -->
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Title" class="untitled-notes__input"
            value="{{note.title}}">
        <label for="content">Content</label>
        <textarea name="content" id="content" placeholder="Content"
            class="untitled-notes__input">{{note.content}}</textarea>
        <!-- <button class="untitled-notes__button" (click)="saveNote()">Save note</button> -->
    </section>
</main>