.wrap {
    display: flex;
    width: 100%;
    min-height: 100%;

    .notes,
    .untitled-notes {
        flex: 1;
    }

    .chat {
        flex: 2;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }

}

.notes {
    main {
        overflow-y: auto;
    }

    &__note {
        font-size: clamp(0.625rem, 0.4688rem + 0.5vw, 0.75rem);
    }

    &__note p,
    &__note h2 {
        margin-bottom: 10px;
    }

    &__button {
        margin: 5px;
        margin-left: 0;
        padding: 10px;
    }
}

.untitled-notes {
    main {
        background-color: $secondary-color;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__text {
        font-size: 1.5rem;
        color: lighten($primary-text-color, 20%);
    }

    &__notes {
        width: max(100px, 90%);
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    &__input {
        width: 90%;
        padding: 10px;
    }

    &__button--save,
    &__button--close,
    &__label,
    &__input {
        margin: 5px;
    }

    &__button--close {
        width: 30px;
        height: 30px;
        margin-left: 0;
    }

    &__button--save {
        width: 90%;
        padding: 10px;

    }

    &__input--textarea {
        height: 40%;
        resize: none;
    }

    &__error {
        color: red;
        font-size: 0.75rem;
        text-align: center;
    }

}

.chat {
    main {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
    }

    &-message {
        overflow: auto;
        height: calc(70%);

        &__title {
            text-align: center;
            padding: 0 auto;
            font-size: 1.5rem;
        }

        &__action {
            display: block;
            padding: 10px 0;
            display: block;
            margin: 10px auto;
            width: clamp(100px, 100px + 5vw, 250px);
        }

        &__text {
            width: clamp(100px, 100px + 10vw, 300px);
            border: none;
        }

        &__text--user {
            margin: 0 0 0 auto;
        }

        &__text--bot {
            cursor: pointer;
            position: relative;

            &:hover::after {
                content: 'Click to make a note';
                background-color: $accent-color;
                position: absolute;
                top: -20px;
                right: 0;
                padding: 5px;
                border-radius: 5px;
                font-size: clamp(0.5rem, 0.1875rem + 1vw, 0.75rem);
            }
        }

        &__text legend {
            width: 100%;
            padding-right: 10px;
        }

        &__text--user legend {
            text-align: right;
        }

        &__text pre {
            width: clamp(100px, 100px + 10vw, 300px);
            background-color: $secondary-color;
            font-size: 0.75rem;
            padding: 10px;
            border-radius: 5px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            white-space: pre-wrap;

        }

        &__text--bot pre {
            background-color: $primary-color;
            border: 1px solid $border-color;
        }
    }

    &-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;

        &__field {
            width: 65%;
            margin: 0 10px;
            border: 1px solid $border-color;
            border-radius: 10px;
        }

        &__input {
            width: 99%;
            padding: 8px;
            line-height: 1.25rem;
            font-size: 1rem;
            resize: none;
            border: none;
            border-radius: 10px;

            &:focus {
                outline: none;
            }
        }

        &__error {
            color: $error-color;
            font-size: 0.6rem;
        }

        &__action {
            margin: 5px;
            padding: 25px;
        }
    }
}

.notes,
.untitled-notes,
.chat {
    border: 1px solid $border-color;

    header {
        height: 40px;
        border-bottom: 1px solid $border-color;
        border-radius: 5px;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }
    }

    &__title {
        font-size: 1.5rem;
        padding-left: 10px;
    }

    main {
        min-height: 300px;
        height: calc(100vh - 45px);
        padding: 10px;
    }
}