// Colors
$primary-color: white;
$secondary-color: #cecece;
$primary-text-color: #2E2E2E;
$border-color: #686c75;
$accent-color: #9899e5;
$success-color: #9583b5;
$warning-color: #F59E0B;
$error-color: #EF4444;

// Dark
$dark-primary-color: #1E1E2E;
$dark-secondary-color: #2A2A3C;
$dark-border-color: #4B5563;
$dark-primary-text-color: #E5E7EB;
$dark-accent-color: #60A5FA;
$dark-success-color: #34D399;
$dark-warning-color: #FBBF24;
$dark-error-color: #F87171;