<header class="dashboard-header">
    <h1 class="dashboard-header__title">Dashboard</h1>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="header-buttons__action" (click)="logoutWithAccount()" value="bold"
            role="button">Logout</mat-button-toggle>
        <mat-button-toggle class="header-buttons__action" (click)="deleteAccount()" value="bold" role="button">Delete
            Account</mat-button-toggle>
        <mat-button-toggle class="header-buttons__action" (click)="changeTheme()" value="
            bold" role="button">{{themeButtonText}}</mat-button-toggle>
    </mat-button-toggle-group>
</header>
<div class="wrap">
    <app-notes class="notes"></app-notes>
    <app-untitled-notes class="untitled-notes"></app-untitled-notes>
    <app-chat class="chat"></app-chat>
</div>