// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary-color: white;
  --secondary-color: #cecece;
  --threery-color: #ffffff;
  --primary-text-color: #2E2E2E;
  --border-color: #686c75;
  --accent-color: #9899e5;
  --success-color: #9583b5;
  --error-color: #EF4444;
  --button-color: #df6e74;
}

body.dark-theme {
  --primary-color: #242831;
  --secondary-color: #3b3f4d;
  --threery-color: #252a33;
  --primary-text-color: #E5E7EB;
  --border-color: #1b1e24;
  --accent-color: #60A5FA;
  --success-color: #34D399;
  --error-color: #F87171;
  --button-color: #3B82F6;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--primary-text-color);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.login-form__button,
.registration-form__button,
.login-register__button,
.registration-login__button,
.chat-message__action,
.chat-footer__action,
.notes__button,
.untitled-notes__button--close,
.untitled-notes__button--save {
  cursor: pointer;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--success-color);
    transform: scale(1.1);
  }
}

mat-button-toggle {
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);

  :hover {
    cursor: pointer;
  }
}

mat-button-toggle-group {
  height: 40px;
  background-color: var(--accent-color);

  :hover {
    background-color: var(--button-color);
  }

  @media screen and (max-width: 400px) {
    margin: 0 auto;
  }
}

.header-buttons__action {
  :checked::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

  }
}