/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import './styles/_variables.scss';
@import './styles/_dashboard.scss';
@import './styles/auth';

body {
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    height: 100vh;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}